<%= image_tag @image.url %>
<% if !current_user.liked_images.include?(@image) %>
  <%= button_to "Like this image", [@image, :like] %>
<% else %>
  <%= button_to "Unlike this image", [@image, :like], method: :delete %>
<% end %>
  
<%= form_for [@image] do |form| %>
  <%= form.collection_check_boxes :group_ids, @groups, :id, :name %>

  <% @groups.each do |group| %>
    <%= form.check_box :group_ids, value: group.id %>
    <label><%= group.name %></label>
  <% end %>
    <%= form.submit "Add to groups" %>
<% end %>

  <%= form_for [@image, @comment] do |form| %>
  <%= render "error_messages", target: @comment %>
  <div>
    <%= form.label :body, "Comments" %>
    <%= form.text_area :body %>
  </div>
<div>
  <%= form.submit "Submit your comment" %>
</div>

<% end %>

<% @comments.each do |comment| %>
  <li>
    <p><%= comment.body %></p>
    <p><%= time_ago_in_words comment.created_at %></p>
    <p><%= comment.user.email %>
  </li>
<% end %>
