<div>
  <%= image_tag @image.url %>
</div>

<div>
  This many people like this image <strong><%=@image.likes.count %></strong>
  <% if !current_user.likes?(@image) %>
  <%= button_to "Like this image", [@image, :like] %>
  <% else %>
   <%= button_to "Unlike this image", [@image, :like], method: :delete %>
  <% end %>
</div>  
<h3>Add this image to a group</h3>
<%= link_to "Create a new group name", [:new, :group] %>
<%= form_for [@image] do |form| %>
  <%= form.collection_check_boxes :group_ids, @groups, :id, :name %>
  <%= form.submit "Add to groups" %>
<% end %>

<h3>Tag this image</h3>
<div>
  <%= link_to "Create a new tag", [:new, :tag] %>
  <%= link_to "See all available tags", [:tags] %>
  <%= form_for [@image] do |form| %>
   <%= form.collection_check_boxes :tag_ids, @tags, :id, :name %>
   <%= form.submit "Tag this image" %>
  <% end %>
</div>
<h3>Add a comment to this image</h3>
<div>
  <%= form_for [@image, @comment] do |form| %>
  <%= render "error_messages", target: @comment %>
<div>
  <%= form.label :body, "Comments" %>
  <%= form.text_area :body %>
  </div>
<div>
  <%= form.submit "Submit your comment" %>
</div>

<% end %>
</div>
<% @comments.each do |comment| %>
  <li>
    <p><%= comment.body %></p>
    <p><%= time_ago_in_words comment.created_at %></p>
    <p><%= comment.user.email %>
  </li>
<% end %>
