<%= image_tag @image.url %>
<%= form_for [@image, @comment] do |form| %>
  <%= render "error_messages", target: @comment %>
  <div>
  <%= form.label :body, "Comments" %>
  <%= form.text_area :body %>
</div>
<div>
  <%= form.submit "Submit your comment" %>
</div>
<% end %>

<% @comments.each do |comment| %>
  <li>
    <p><%= comment.body %></p>
    <p><%= time_ago_in_words comment.created_at %></p>
    <p><%= comment.user.email %>
  </li>
<% end %>
